:root {
    --yellow: #F09E19;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    width: 100vw;
    height: 100vh;
    font-family: 'Montserrat Alternates', sans-serif;
}

body section figure {
    min-width: 300px;
}

body section figure img {
    width: 100%;
}

body section h1 {
    text-align: center;
    color: var(--yellow);
}

body {
    display: grid;
    place-items: center;
}